.App {
  display: grid;
  /* grid-template-columns:  "15% 85%";
  grid-template-rows: "15% 85%"; */
}

.sidebar-container {
  background-color: #E7EAF0;
  grid-row: 1 / span 2;
  grid-column: 1;
}

main {
  border: 1px orange solid;
  grid-row: 1 / span 2;
  grid-column: 2;
}


.education-container {
  border: 1px red solid;

}
.experience-container {
  border: 1px blue solid;
}

.section-title {
  color: #4D89FF;
}